html 
	head
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous")
		style 
			include index.css
		title Home
	body
		h1 Asset Master
		div(class='master')
			h4 Adding new Asset
			form(action="/addAsset" method="GET")
				input( 
					type="submit"
					value="Add"
					class='btn'
				)
			h4 To view all Assets
			form(action="/assets" method="GET")
				input( 
					type="submit"
					value="View All"
					class='btn'
				)
			h4 To view an Asset details
			form(action="/assetfind" method="POST")
				div(class='emp')
				fieldset 
					input(
						type="number"
						id="id" 
						name="id" 
						required
					)
					input( 
						type="submit"
						value="Find"
						class='btn'
					)
			h4 Updating an exsisting Asset
			form(action="/assetupdate" method="GET")
				input( 
					type="submit"
					value="Update"
					class='btn'
				)
			h4 To delete an Asset
			form(action="/assetdelete" method="POST")
				div(class='emp')
				fieldset 
					input(
						type="number"
						id="id" 
						name="id" 
						required
					)
					input( 
						type = "submit"
						value = "Delete"
						class='btn'
					)
				a(href="/dashboard") Back