html 
	head
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
		style 
			include index.css
		title Home
	body
		//- div(id="sidebar" class="nav-collapse hide-left-bar open-left-bar")
		//- <!-- sidebar menu start-->
		//- div(class="leftside-navigation" tabindex="1" style="overflow: hidden; outline: none;")
		//- 	ul(id="nav-accordion" class="sidebar-menu")
		//- 		li
		//- 			a(href="/dashboard" class="active")
		//- 				i(class="fa fa-dashboard") Dashboard
		//- 		li
		//- 			a(href="/empMaster") 
		//- 				i(class="fa fa-users") EmployeeMaster
		//- 		li
		//- 			a(href="/assetMaster") 
		//- 				i(class="fa fa-fw fa-user") AssetMaster
		//- 		li
		//- 			a(href="/empMaster") 
		//- 				i(class="fa fa-users") CategoryMaster
		//- 		li
		//- 			a(href="/") 
		//- 				i(class="fa fa-fw fa-envelope") Logout
		//- div(id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 3px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 237px; height: 863px; opacity: 0; display: block;")
		//- div(class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 3px; height: 656px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;")
		//- div(id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 3px; z-index: auto; top: 860px; left: 0px; position: absolute; cursor: default; display: none; width: 237px; opacity: 0;")
		//- div(class="nicescroll-cursors" style="position: absolute; top: 0px; height: 3px; width: 240px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px; left: 0px;")

		nav(class="navbar fixed-left navbar-expand-md bg-dark navbar-dark")
			a(class="navbar-brand" href="") Dashboard
			button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
				span(class="navbar-toggler-icon")
			div(class="leftside-navigation" tabindex="1" style="overflow: hidden; outline: none;")
				ul(id="nav-accordion" class="sidebar-menu")
					li
						a(href="/dashboard" class="active")
							i(class="fa fa-dashboard") Dashboard
					li
						a(href="/empMaster") 
							i(class="fa fa-users") EmployeeMaster
					li
						a(href="/assetMaster") 
							i(class="fa fa-fw fa-user") AssetMaster
					li
						a(href="/empMaster") 
							i(class="fa fa-users") CategoryMaster
					li
						a(href="/") 
							i(class="fa fa-fw fa-envelope") Logout
		div(class="container")
		h1 Asset Management   
			div(class='dashboard')
				form(action="/empMaster" method="GET")
					input( 
						type="submit"
						value="Employee Master"
						class='btn'
					)
				form(action="/assetMaster" method="GET")
						input( 
							type="submit"
							value="Asset Master"
							class='btn'
						)
				a(href="/") 
				

		