html 
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		style 
			include index.css
		title Scrap Asset
body
	h1 Moving Asset to scrap
	div(class='link')
		form(action="/scrapfindAll" method="POST")
			div
				input(
					type="submit"
					value="Report"
					class='btn'
				)
	div(class='master')
		form(action="/scrapAsset" method="POST")
			div(class='id')
				input(
					type="number"
					id="assetId" 
					name="assetId" 
					placeholder="AssetID"
					required
				)
			div(class='name')    
				input( 
					type="text"
					id="name" 
					name="name" 
					placeholder="Asset Name" 
					required
				)
			div(class='name')    
				input( 
					type="text"
					id="status" 
					name="status" 
					placeholder="Reason"
				)
			div
				input(
					type="submit"
					value="Mark asset as scrap"
					class='btn'
				)   
			a(href="/dashboard") Back